<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }
        .intro {
            text-align: center;
        }
        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .license {
            padding: 7px 0px;
        }
        .license:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .license-text {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="intro">
            <h1>Third Party Licenses</h1>
            <p>Libraries used in inuklib, click a license to read its text.</p>
        </div>
    
        <h2>Overview of licenses:</h2>
        <ul class="licenses-overview">
            {{#each overview}}
            <li><a href="#{{id}}">{{name}}</a> ({{count}})</li>
            {{/each}}
        </ul>

        <hr>
        <ul class="licenses-list">
            {{#each licenses}}
            <li class="license">
                <details>
                    <summary id="{{id}}">{{name}}</summary>
                    <pre class="license-text">{{text}}</pre>
                </details>
                <ul class="license-used-by">
                    {{#each used_by}}
                    <li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </main>
</body>

</html>
